.Front_Page_Txt{  color:blue;
    font-size:150%;
font-family: monoscape;}
	
.Walrus_Dreams{
	color:brown;
	font-size:100%;
	}
	
	
.expired_walrus
{
	visibility : hidden;
}

.walrus_longevity
{
	visibility : hidden;
}


#walrus_guard
{
	width: 50%;
	height: 50%;
}

html
{
	background-color:lightblue;
}