.Front_Page_Txt{  color:white;
    font-size:150%;
font-family: monoscape;}
	
.Walrus_Dreams{
	color:brown;
	font-size:100%;
	}
	
	
h3{
	text-align:center;
	color:white;
}

h2{
	color:white;
}

p{
	color:white;
	padding: 24px;
	class="lead";
}
	
html
{
	background-color:black;
}